/* header { 
    background: burlywood;
    width: 100%;
    position: fixed;
    z-index: 100;
}
  
nav {
    float: right;
}
  
nav ul {
    list-style: none;
    overflow: hidden; 
}
  
nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li a{
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}*/

body{
    background-color: rgb(255, 242, 226);
}

.titulo{
    text-align: center;
    background-color: burlywood;
}

.contenido{
    justify-content: center;
    display: flex;
    align-items: center;
}

.contenidoDetalles{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 3%;
    text-align: center;
}

th{
    background-color:burlywood;
    padding: 8px;
    width: 250px;
}

.codigo{
    width: 50px;
}

.nombre{
    width: 380px;
}

.detalle{
    width: 200px;
}

td{
    background-color: blanchedalmond;
    padding: 8px; 
}

button{
    border: none;
    padding: 10px;
    border-radius:12px;

}

.button-input{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius:12px;
    background-color: rgb(218, 192, 159);
}

.button-input:hover{
    background-color: rgb(173, 125, 62);
}

.info{
    background-color: rgb(127, 188, 190);
    width: 100%;
}

.info:hover {
    background-color: rgb(20, 124, 128);
}

.danger{
    background-color: indianred;
    width: 49%;
}

.eliminar{
    background-color: indianred;
    width: 100%;
}

.eliminar:hover {
    background-color: rgb(204, 32, 32);
}

.danger:hover {
    background-color: rgb(204, 32, 32);
}

.warning{
    background-color: orange;
    width: 49%;
}

.warning:hover {
    background-color: rgb(206, 134, 0);
}

.success{
    background-color: rgb(55, 182, 55);
    width: 100%;
}

.volver{
    background-color: burlywood;
    width: 200px;
}

.stock{
    background-color: burlywood;
    width: 100%;
    margin-top: 15px;
}

.stock:hover{
    background-color: rgb(173, 125, 62);
}

.volver:hover{
    background-color: rgb(173, 125, 62);
}

.success:hover {
    background-color: rgb(0, 143, 0);
}

input{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius:12px;
}

.infotexto{
    background-color: burlywood;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 3%;
}